/*Fonte da logo*/
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

/*Fonte do cabeçalho e de quase todo o resto*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/*Fonte do Radu no Instagram*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Fonte Lexend*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*Fonte Arsenal*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Lexend Exa*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

/*Lekton*/
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

/*Lexend Zetta*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

/*Junge*/
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

/*Lexend Mega*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap');




/*----------------Configurações Gerais--------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    grid-area: header
               main
               footer;
}

/*Cabeçalho*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #730501;
  color: #ffffff;
  min-height: 7vmax;
}
.logo h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
  justify-content: start;
  font-size: 4vmax;
  margin-top: 2vmax;
  margin-left: 2.3vmax;
  cursor: pointer;
}
.logo h1:hover {
  color: #000000;
}
.logo a {
  text-decoration: none;
  color: #ffffff;
}
.nav ul {
  display: flex;
  overflow: hidden;
  list-style-type: none;
  gap: 2vmax;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vmax;
  margin-top: 2vmax;
  margin-right: 2.3vmax;
  align-items: center;
}
.nav a:hover {
  color: #000000;
  cursor: pointer;
}
.nav a .material-icons-outlined {
  font-size: 2vmax;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
}

/*Footer*/

/*Esse footer é sem cor para o home*/
.info {
  width: 100%;
  height: 20vmax;
}
/*E esse tem cor e é para todo o resto*/
.info2 {
  width: 100%;
  height: 20vmax;
  background-color: #ECE4E4;
  margin-top: 7vmax;
}
/*Só isso mesmo, o resto abaixo continua o mesmo footer para todas as páginas*/
.log img {
  width: 10vmax;
  height: 3.5vmax;
  margin-top: 0.5vmax;
  margin-left: 46vmax;
}

.textos {
  display: flex;
  justify-content: space-between;
  padding: 1vmax 10vmax;
}
.textos h4 {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vmax;
  display: flex;
  justify-content: center;
  margin-bottom: 1vmax;
}
.textos p {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vmax;
}
.pagamento {
  display: table-column;
  flex-wrap: wrap;
  justify-content: center;
}
.pagamento img {
  width: 4vmax;
  height: 2.5vmax;
}
.barra {
  background-color: #730501;
  width: 100%;
  height: 6vmax;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  color: #ffffff;
  font-size: 1.1vmax;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*---------------Página Home - Coisas Específicas------------------*/

/*Banners*/
.banner-principal {
  width: 100%;
  height: 120vh;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 0;
  background-color: #000000;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeSlide 15s infinite;
  animation-timing-function: ease-in-out;
  pointer-events: none;
}

.banner1 {
  background-image: url(home/banner1.png);
  animation-delay: 0s;
}

.banner2 {
  background-image: url(home/banner2.png);
  animation-delay: 3s;
}

.banner3 {
  background-image: url(home/banner3.png);
  animation-delay: 9s;
}

@keyframes fadeSlide {
  0%   { opacity: 0; pointer-events: none;}   /* invisível */
  10%  { opacity: 1; pointer-events: auto;}   /* começa a aparecer */
  30%  { opacity: 1; pointer-events: auto;}   /* ainda visível */
  50%  { opacity: 0; pointer-events: none;}  
  100% { opacity: 0; pointer-events: none;}   /* invisível de novo */
}

/*Conteúdo principal*/

.topicos {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1vmax;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.topicos > .linha {
  background-color: #707070;
  width: 36vw;
  height: 0.1vh;
}
.topicos > .linha2 {
  background-color: #707070;
  width: 40vw;
  height: 0.1vh;
}
.topicos h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vmax;
  flex-wrap: nowrap;
}

/*Produtos*/
.card-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10vmax;
}
.card {
  width: 18vmax;
  height: 22vmax;
  overflow: hidden;
  border: 0.1px solid #000000;
  cursor: pointer;
}
.card h3 {
  font-size: 1.2vmax;
  margin-bottom: 0.5vmax;
  text-align: justify;
  margin-left: 1.5vmax;
  margin-top: 0.5vmax;
}
.card p {
  color: #5D5D5D;
  font-size: 1.1vmax;
  text-align: justify;
  margin-left: 1.5vmax;
}
.card1 {
  width: 12vmax;
  height: 16vmax;
  margin-left: 3.3vmax;
}
.card2 {
  width: 14vmax;
  height: 12vmax;
  margin-left: 1.8vmax;
  margin-top: 4vmax;
}
.card3 {
  width: 12vmax;
  height: 14vmax;
  margin-left: 3vmax;
  margin-top: 1.8vmax;
}
.card4 {
  width: 14vmax;
  height: 12vmax;
  margin-left: 2vmax;
  margin-top: 4vmax;
}
.card5 {
  width: 12vmax;
  height: 13vmax;
  margin-left: 3vmax;
  margin-top: 3vmax;
}
.card6 {
  width: 12vmax;
  height: 12vmax;
  margin-left: 3vmax;
  margin-top: 4vmax;
}

/*Radu no Instagram*/
.radu h1 {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vmax;
  margin-top: 7vmax;
  cursor: pointer;
}
.instagram-cards {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4vmax;
}
.instagram-cards img {
  width: 19vmax;
  height: 26vmax;
}

/*Loja Radu*/
.sobre {
  display: flex;
  align-items: center;
  background-color: #C8C8C8;
  width: 100%;
  height: 35vmax;
  margin-top: 5vmax;
}
.loja img {
  width: 48vmax;
  height: 24vmax;
  margin-top: 3vmax;
  margin-left: 4vmax;
}
.texto h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3vmax;
  text-align: center;
  margin-bottom: 1vmax;
  margin-top: 2vmax;
}
.texto p {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.8vmax;
  margin-left: 3vmax;
  margin-right: 3vmax;
}

/*Cadastro*/
.cadastro {
  background-color: #9C5C5C;
  width: 100%;
  height: 10vmax;
}
.inscrevase {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vmax;
  gap: 0.5vmax;
}
.inscrevase p {
  margin-top: 1vmax;
} 
.inscrevase .material-icons-outlined {
  font-size: 1.7vmax;
  margin-top: 1vmax;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmax;
  margin-top: 1vmax;
}
.boxes .email {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #ffffff;
  border: 1px solid #000000;
  width: 18.5vmax;
  height: 2.5vmax;
}
.email p {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vmax;
  color: #7a7a7a;
  margin-left: 0.5vmax;
}
.boxes .cadastrar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  border: 1px solid #000000;
  width: 10vmax;
  height: 2.5vmax;
}
.cadastrar p {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vmax;
  color: #ffffff;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vmax;
  margin-top: 0.5vmax;
}
.icons p {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vmax;
  color: #000000;
}
.icon1 img {
  width: 1.7vmax;
  height: 1.7vmax;
  margin-top: 0.5vmax;
}
.icon2 img {
  width: 1.7vmax;
  height: 1.7vmax;
  margin-top: 0.5vmax;
}
.icon3 img {
  width: 1.7vmax;
  height: 1.7vmax;
  margin-top: 0.5vmax;
}



/*------Páginas Banners - Coisas Gerais------*/

.title {
  text-align: center;
  flex-wrap: wrap;

}
.title h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vmax;
  margin-top: 2vmax;
}
.title h4 {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2vmax;
  color: #730501;
  text-transform: lowercase;
  margin-top: -1vmax;
}

.produtos {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 7vmax;
  margin-top: 6vmax;
}
.produt {
  width: 18vmax;
  height: 22vmax;
  overflow: hidden;
  border: 0.1px solid #000000;
  cursor: pointer;
}
.produt h3 {
  font-size: 1.2vmax;
  margin-bottom: 0.5vmax;
  text-align: justify;
  margin-left: 1.5vmax;
  margin-top: 0.5vmax;
}
.produt p {
  color: #5D5D5D;
  font-size: 1.1vmax;
  text-align: justify;
  margin-left: 1.5vmax;
}

/*-- Las Femes -- Página --*/

.produt1 {
  width: 14vmax;
  height: 12vmax;
  margin-left: 2vmax;
  margin-top: 4vmax;
}
.produt2 {
  width: 14vmax;
  height: 12vmax;
  margin-left: 1.8vmax;
  margin-top: 4vmax;
}
.produt3 {
  width: 14vmax;
  height: 14vmax;
  margin-left: 2vmax;
  margin-top: 1.8vmax;
}
.produt4 {
  width: 13vmax;
  height: 14vmax;
  margin-left: 3vmax;
  margin-top: 1.8vmax;
}

/*-- Los Hombres -- Página --*/

.produ1 {
  width: 14vmax;
  height: 12vmax;
  margin-left: 1.5vmax;
  margin-top: 4vmax;
}
.produ2 {
  width: 14vmax;
  height: 12vmax;
  margin-left: 1.8vmax;
  margin-top: 4vmax;
}
.produ3 {
  width: 13vmax;
  height: 13vmax;
  margin-left: 2vmax;
  margin-top: 3vmax;
}
.produ4 {
  width: 13vmax;
  height: 14vmax;
  margin-left: 2.3vmax;
  margin-top: 1.8vmax;
}

/*-- New collection -- Página --*/

.titulo {
  text-align: center;
  flex-wrap: wrap;

}
.titulo h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vmax;
  margin-top: 2vmax;
}
.titulo h4 {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2vmax;
  color: #730501;
  text-transform: lowercase;
  margin-top: -1vmax;
}
.titulo h2 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vmax;
}

.bags {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 7vmax;
  margin-top: 5vmax;
}
.bag {
  width: 18vmax;
  height: 22vmax;
  overflow: hidden;
  border: 0.1px solid #000000;
  cursor: pointer;
}
.bag img {
  width: 100%;
  height: 100%;
}

/*------------------PÁGINA NOVIDADES ------------------*/

.letreiro {
  display: flex;
  justify-content: center;
  margin-top: 1.5vmax;
}
.novidades h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vmax;
}
.new {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5vmax;
  color: #730501;
  margin-top: 2vmax;
  margin-left: -0.6vmax;
}
.buzios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1vmax;
}
.buzios h1 {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5vmax;
  color: #021846;
}
.buzios h2 {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 3vmax;
  color: #021846;
}

.prod1 {
  width: 16vmax;
  height: 14vmax;
  margin-left: 1vmax;
  margin-top: 2vmax;
}
.prod2 {
  width: 16vmax;
  height: 14vmax;
  margin-left: 1vmax;
  margin-top: 2vmax;
}
.prod3 {
  width: 16vmax;
  height: 16vmax;
  margin-left: 1vmax;
}
.prod4 {
  width: 12vmax;
  height: 9vmax;
  margin-left: 3vmax;
  margin-bottom: 1vmax;
  margin-top: 6vmax;
}
.prod5 {
  width: 12vmax;
  height: 11vmax;
  margin-left: 2.5vmax;
  margin-top: 5vmax;
}
.prod6 {
  width: 12vmax;
  height: 7vmax;
  margin-left: 3vmax;
  margin-top: 9vmax;
}
.prod7 {
  width: 13vmax;
  height: 8vmax;
  margin-left: 2vmax;
  margin-top: 8vmax;
}
.prod8 {
  width: 13vmax;
  height: 8vmax;
  margin-left: 3vmax;
  margin-bottom: 0.5vmax;
  margin-top: 7.5vmax;
}



@media (max-width: 768px) {

/*----------------Configurações Gerais--------------*/

/*Simbolos Navbar*/
nav li .material-icons-outlined {
  font-size: 2vmax;
}


/*Footer*/

.info {
  width: 100%;
  height: 20vmax;
}
.log img {
  width: 10vmax;
  height: 3.5vmax;
  margin-top: 0.5vmax;
  margin-left: 28vmax;
}

.textos {
  display: flex;
  justify-content: space-between;
  padding: 1vmax 4vmax;
  gap: 1vmax;
}
.textos h4 {
  font-size: 1.5vmax;
  margin-bottom: 1vmax;
}
.textos p {
  font-size: 1.2vmax;
}
.pagamento img {
  width: 3vmax;
  height: 1.5vmax;
}



/*------Página Home - Coisas Específicas-------*/

/* Banner em dispositivos menores */
.banner-principal {
  width: 100%;
  height: 60vmin;
  object-fit: cover;
}

/*DESTAQUES DA SEMANA*/
.topicos {
  gap: 0.5vmax;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.topicos h1 {
  font-size: 1.9vmax; 
  text-align: center;
}
.topicos > .linha {
  width: 30.1vw;  
  height: 0.1vh;
}
.topicos > .linha2 {
  width: 36vw;
  height: 0.1vh;
}

/*Cards*/
.card-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 3vmax;
  gap: 2vmax;
}
.card {
  border: 0.1px solid #000000;
}
.card1 {
  margin-left: 2vmax;
}
.card2 {
  margin-left: 0.6vmax;
}
.card3 {
  margin-left: 3vmax;
}
.card4 {
  margin-left: 2vmax;
}
.card5 {
  margin-left: 3vmax;
}
.card6 {
  margin-left: 3.5vmax;
}

/*Insta Cards*/
.instagram-cards {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2vmax;
}
.radu h1 {
  font-size: 2.3vmax; 
}
.instagram-cards img {
  width: 13vmax;
  height: 19vmax;
}

/*Sobre a Radu*/
.sobre {
  width: 100%;
  height: 30vmax;
}
.loja img {
  width: 32vmax;
  height: 20vmax;
  margin-top: 3vmax;
  margin-left: 4vmax;
}
.texto h1 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2vmax;
  text-align: center;
  margin-top: 2vmax;
  margin-bottom: 1vmax;
}
.texto p {
  font-size: 1.6vmax;
  margin-left: 2vmax;
  margin-right: 2vmax;
}


/*------------Páginas Banners----------------*/
.produtos {
  flex-wrap: wrap;
  gap: 7.2vmax;
  margin-top: 7vmax;
}
.produt {
  width: 22vmax;
  height: 26vmax;
}
.produt h3 {
  font-size: 1.5vmax;
  margin-bottom: 0.5vmax;
}
.produt p {
  font-size: 1.3vmax;
}

/*produtos da las femes*/
.produt1 {
  width: 18vmax;
  height: 16vmax;
  margin-left: 2vmax;
  margin-top: 4vmax;
}
.produt2 {
  width: 18vmax;
  height: 16vmax;
  margin-left: 1.8vmax;
  margin-top: 4vmax;
}
.produt3 {
  width: 18vmax;
  height: 18vmax;
  margin-left: 2vmax;
  margin-top: 1.8vmax;
}
.produt4 {
  width: 17vmax;
  height: 18vmax;
  margin-left: 3vmax;
  margin-top: 1.8vmax;
}

/*produtos dos los hombres*/
.produ1 {
  width: 20vmax;
  height: 16vmax;
  margin-left: 0vmax;
}
.produ2 {
  width: 20vmax;
  height: 16vmax;
}
.produ3 {
  width: 18vmax;
  height: 17vmax;
}
.produ4 {
  width: 17vmax;
  height: 18vmax;
}

/*produtos new collection*/
.bags {
  flex-wrap: wrap;
  gap: 7.2vmax;
  margin-top: 5vmax;
}
.bag {
  width: 22vmax;
  height: 26vmax;
}
.bag img {
  width: 100%;
  height: 100%;
}













}