/*Fonte da logo*/
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
.lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}
/*Fonte do cabeçalho e de quase todo o resto*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

/*Configurações Gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    grid-area: header
               main
               footer;
}

/*Cabeçalho*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #730501;
  color: #ffffff;
  min-height: 7vmax;
}
.logo h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
  justify-content: start;
  font-size: 4vmax;
  margin-top: 2vmax;
  margin-left: 2.3vmax;
  cursor: pointer;
}
.logo h1:hover {
  color: #000000;
}
nav ul {
  display: flex;
  overflow: hidden;
  list-style-type: none;
  gap: 2vmax;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6vmax;
  margin-top: 2vmax;
  margin-right: 2.3vmax;
  align-items: center;
}
nav li:hover {
  color: #000000;
  cursor: pointer;
}

/*Banners*/
.banner-principal {
  width: 100%;
  height: 120vh;
  overflow: hidden;
  position: relative;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeSlide 15s infinite;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

.banner1 {
  background-image: url(home/banner1.png);
  animation-delay: 0s;
}

.banner2 {
  background-image: url(home/banner2.png);
  animation-delay: 3s;
}

.banner3 {
  background-image: url(home/banner3.png);
  animation-delay: 9s;
}

@keyframes fadeSlide {
  0%   { opacity: 0; }   /* invisível */
  10%  { opacity: 1; }   /* começa a aparecer */
  30%  { opacity: 1; }   /* ainda visível */
  50%  { opacity: 0; }  
  100% { opacity: 0; }   /* invisível de novo */
}

.slider-inputs {
  display: flex;
  justify-content: center;
  gap: 77px;
  margin-top: 105.2vmin;
  z-index: 1;
}

.slider-inputs input[type="radio"] {
  appearance: none;
  width: 49px;
  height: 49px;
  border: 6px solid #7b0000; 
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-inputs input[type="radio"]:checked {
  background-color: #730501;
}
